<?xml version="1.0" encoding="utf-8" ?>
<!-- 游戏配置文件 -->
<Config>
  
  <!-- 屏幕宽度 -->
  <ScreenWidth>400</ScreenWidth>
  
  <!-- 屏幕高度 -->
  <ScreenHeight>300</ScreenHeight>
  
  <!-- 游戏循环间隔 -->
  <GameLoopTime>10</GameLoopTime>
  
  <!-- 物体包围框颜色 -->
  <ObjBorderColor>Blue</ObjBorderColor>

  <!-- 图片资源存放地址 -->
  <ImageUrl>/Resource/Image/</ImageUrl>
  
  <!-- 游戏状态机 -->
  <StateMachine>
    <Status>播放</Status>
    <Status>停止</Status>
  </StateMachine>
  
</Config>